<div class="card text-center">
  <div class="card-body">
    <div class="card-title"><h5>Group A</h5></div>
    <div class="row">
      <div class="col-1">
        <div class="badge badge-warning text-wrap">1</div>
      </div>
      <div class="col">
        <div class="card border-warning">1 1 1 1</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"><div class="badge badge-danger text-wrap">2</div></div>
      <div class="col">
        <div class="card border-danger">2 2 2 2</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <div class="badge badge-success text-wrap">3</div>
      </div>
      <div class="col">
        <div class="card border-success">3 3 3 3</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <div class="badge badge-primary text-wrap">4</div>
      </div>
      <div class="col">
        <div class="card border-primary">4 4 4 4</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"><div class="badge badge-info text-wrap">5</div></div>
      <div class="col">
        <div class="card border-info">5 5 5 5</div>
      </div>
    </div>
    <div class="row">
      <div class="col-1"><div class="badge badge-dark text-wrap">6</div></div>
      <div class="col">
        <div class="card border-dark">6 6 6 6</div>
      </div>
    </div>
  </div>
</div>
