<div class="card text-center">
  <div class="card-body">
    <div class="card-title">
      <h5>Group {{ group }}</h5>
    </div>
    <div *ngIf="plist">
      <app-lp-row
        [group]="groupData"
        [row]="plist[0]"
        theme="warning"
      ></app-lp-row>
      <app-lp-row
        [group]="groupData"
        [row]="plist[1]"
        theme="danger"
      ></app-lp-row>
      <app-lp-row
        [group]="groupData"
        [row]="plist[2]"
        theme="success"
      ></app-lp-row>
      <app-lp-row
        [group]="groupData"
        [row]="plist[3]"
        theme="primary"
      ></app-lp-row>
      <app-lp-row
        [group]="groupData"
        [row]="plist[4]"
        theme="info"
      ></app-lp-row>
      <app-lp-row
        [group]="groupData"
        [row]="plist[5]"
        theme="dark"
      ></app-lp-row>
    </div>
  </div>
</div>
