<div class="row">
  <div class="col-1">
    <div class="badge badge-{{ theme }} text-wrap">{{ row.number }}</div>
  </div>
  <div class="col">
    <div class="card border-{{ theme }}">
      <div
        class="row"
        cdkDropListOrientation="horizontal"
        id="pDList-{{ group.id + row.number.toString() }}"
        cdkDropList
        #pDList="cdkDropList"
        [cdkDropListData]="row.content"
        [cdkDropListConnectedTo]="ids"
        (cdkDropListDropped)="onDrop($event)"
        (cdkDropListExited)="onExit()"
      >
        <div
          class="col-*"
          style="padding: 3px;"
          cdkDrag
          (cdkDragStarted)="onStart()"
          *ngFor="let c of row.content"
        >
          <img
            class="img-thumbnail"
            src="{{ imgPlaceHolderURL }}/FFFFFF/000000?text={{ c.symbol }}"
            alt="{{ c.id }}"
          />
        </div>
        <img
          style="opacity: 0; width: 0px;"
          *ngIf="row.content.length === 0"
          alt="placeholder"
        />
      </div>
    </div>
  </div>
</div>
