<div class="row">
  <div class="input-group mb-1">
    <input
      type="text"
      class="form-control"
      placeholder="C name"
      aria-label="C name"
      aria-describedby="button-addon1"
      [(ngModel)]="eName"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-success"
        type="button"
        id="button-addon1"
        disabled
      >
        Search {{ eName }}
      </button>
    </div>
  </div>
  <div
    id="cDList"
    class="row"
    cdkDropListOrientation="horizontal"
    cdkDropList
    #cDList="cdkDropList"
    [cdkDropListData]="clist"
    [cdkDropListConnectedTo]="ids"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      class="col-*"
      style="padding: 3px;"
      cdkDrag
      *ngFor="let c of clist | filterName: eName"
    >
      <img
        class="img-thumbnail"
        src="{{ imgPlaceHolderURL }}/FFFFFF/000000?text={{ c.symbol }}"
        alt="{{ c.id }}"
      />
    </div>
  </div>
</div>
